ssl = required
disable_plaintext_auth = yes
ssl_cert = <{{ dovecot_ssl_options.cert }}
ssl_key = <{{ dovecot_ssl_options.key }}

protocols = {{ dovecot_enabled_protocols | join(" ") }}
mail_location = maildir:{{ dovecot_mail_location }}
auth_username_format = %n
ssl_dh = <{{ dovecot_dh_param.path }}
ssl_min_protocol = {{ dovecot_ssl_min_protocol }}
ssl_cipher_list = {{ dovecot_ssl_ciphers | join(":") }}

service imap-login {
  inet_listener imap {
    port = {{ dovecot_imap_enable | bool | ternary(143, 0) }}
  }

  inet_listener imaps {
    port = {{ dovecot_imaps_port }}
    ssl = yes
  }
}

service pop3-login {
  inet_listener pop3 {
    port = {{ dovecot_pop3_enable | bool | ternary(110, 0) }}
  }

  inet_listener pop3s {
    port = {{ dovecot_pop3s_port }}
    ssl = yes
  }
}

service lmtp {
  unix_listener {{ dovecot_lmtp_unix_listener }} {
    mode = 0666
    user = {{ dovecot_auth_user }}
    group = {{ dovecot_auth_user }}
  }
}

service auth {
  unix_listener {{ dovecot_auth_unix_listener }} {
    mode = 0666
    user = {{ dovecot_auth_user }}
    group = {{ dovecot_auth_user }}
  }
}

passdb {
  driver = pam
  args = session=yes dovecot
}

